.bed-container {
  width: 100%;
  overflow: scroll;
  display: flex;
  justify-content: center;
}
.bed {
  display: inline-grid;
  border: 5px solid #000000;
  gap: 1px;
  margin-bottom: 2em;
}
.cell {
  align-items: center;
  outline: 1px solid #000000;
  width: 50px;
  height: 50px;
  &-selected {
    background-color: paleturquoise;
  }
}

@media (max-width: 576px) {
  .cell {
    width: 40px;
    height: 40px;
  }
}

@media (min-width: 1200px) {
  .cell {
    width: 80px;
    height: 80px;
  }
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: #000000 1px solid;
}

.beds-preview {
  a {
    text-decoration: none;
  }
  h2 {
    margin-bottom: 0;
  }
}

$vegetables: 'beetroot', 'carrot', 'courgette', 'kale', 'leek', 'lettuce', 'onion', 'pepper', 'potato', 'radish',
  'tomato';

@each $veg in $vegetables {
  .icon-#{$veg} {
    background-image: url('/veg-icons/#{$veg}.png');
    background-size: contain;
  }
}
